.wrapper {
    width: 70%;
    margin: 4em auto 0;

    .card {
        width: 29%;
        height: 260px;
        float: left;
        margin: 20px 15px;
        position: relative;
        overflow: hidden;

        article {
            padding: 15px 0;
        }

        @extend %transitionTopBlue;

        @media screen and (max-width: 1200px) {
            width: 44%
        }
        @media screen and (max-width: 768px) {
            width: 100%
        }
    }
}

.office {
    background: url($imagesPath + "/office.jpg") no-repeat 50% 42%;
    background-size: cover;
    height: 250px;
    opacity: .6;
}
