<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CogentLab - Test</title>
    <!-- Use minimum-scale=1 to enable GPU rasterization -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1">
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFs7P6NMGkyAYJ9Z0M4ORtAjRg0-X1s-Y"
            type="text/javascript"></script>
</head>
<body>
<div id="app"></div>
</body>
</html>
